@charset "utf-8";

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: inherit;
        }


        .shadow div {
            width: 200px;
            height: 200px;
            margin: 70px;
            background-color: silver;
        }

        .shadow div:nth-of-type(1) {
            background-color: silver;
            box-shadow: 10px 40px 20px slategrey;
            /* 그림자: x축 y축 블러 색상 */
        }

        .shadow div:nth-of-type(2) {
            box-shadow: -10px -40px 20px slategrey;
        }

        .shadow div:nth-of-type(3) {
            box-shadow: 5px 5px 10px slategrey,
                        10px 10px 10px skyblue,
                        20px 20px 10px greenyellow;
        }

         .shadow div:nth-of-type(4) {
            box-shadow: inset 20px 20px 40px chartreuse;
         }

         .shadow div:nth-of-type(5) {
            box-shadow: 0 0 50px rgb(135, 235, 197);
         }