@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: 'Gmarket-Sans';
    src: url('../font/GmarketSans/GmarketSansTTFMedium.eot');
    src: url('../font/GmarketSans/GmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'),
        url('../font/GmarketSans/GmarketSansTTFMedium.woff2') format('woff2'),
        url('../font/GmarketSans/GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket-Sans';
    src: url('../font/GmarketSans/GmarketSansTTFLight.eot');
    src: url('../font/GmarketSans/GmarketSansTTFLight.eot?#iefix') format('embedded-opentype'),
        url('../font/GmarketSans/GmarketSansTTFLight.woff2') format('woff2'),
        url('../font/GmarketSans/GmarketSansTTFLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket-Sans';
    src: url('../font/GmarketSans/GmarketSansTTFBold.eot');
    src: url('../font/GmarketSans/GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'),
        url('../font/GmarketSans/GmarketSansTTFBold.woff2') format('woff2'),
        url('../font/GmarketSans/GmarketSansTTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.font p {
    font-family: 'Gmarket-Sans';
}

.font p:nth-child(1) {
    font-weight: 500;
}

.font p:nth-child(2) {
    font-weight: 300;
}

.font p:nth-child(3) {
    font-weight: bold;
}