@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section .inner {
    width: 1500px;
    height: 663px;
    margin: 100px auto;
}

.section .inner h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}








