@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section .inner {
    width: 1280px;
    margin: 150px auto;
    background-color: antiquewhite;
}

.section .inner h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.section .inner ul {
    display: flex;
}

.section .inner ul li {
    border-radius: 30px;
    height: 50px;
    padding: 0 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    line-height: 50px;
    background-color: gainsboro;
}

.section .inner ul li.active {
    background-color: #0198ed;
    color: #fff;
}

.section .inner .list {
    display: flex;
    justify-content: space-between;
}

.section .inner .list .left {
    width: 620px;
    height: 620px;
}

.section .inner .list .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section .inner .list .right {
    width: 620px;
}

.section .inner .list .right .item {
    height: 190px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}


.section .inner .list .right .item img {
    height: 100%;
    width: 190px;
    margin: 20px;
    object-fit: cover;
}

.section .inner .list .right .item p {
    margin-bottom: 30px;
    font-size: 15px;
}

.section .inner .list .right .item span {
    margin-bottom: 30px;
    margin-block: 30px;
    font-size: 20px;
}

.section .inner .list .right .item strong {
    margin-bottom: 30px;
    font-size: 25px;
}

